.goal-list{
        margin: 5px auto;
    list-style: none;
    background-color: #8A1155;
    color: whitesmoke;
     width:60%;
    height: 40px;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    justify-content: space-between;
}
.button{
    border: 0px;
    background-color: transparent;
    color: whitesmoke;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.button:hover{
    border: 2px solid #c51b7b;
}
.mark-it{
    text-decoration: line-through;
    color: black;
    
}